<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>Digital Control</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
    <meta name="description" content="">
    <meta name="Keywords" content="">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/font.css">
</head>




<body class="body" ng-app="graphic-rabot" ng-controller="graphic-crud">
    <script src="js/libs/jquery-3.2.1.min.js"></script>
    <script src="js/libs/jquery.formstyler.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
<script src="//code.jivosite.com/widget.js" data-jv-id="DOrySdjuIy" async></script>
    <script src="js/common.js"></script>
    <aside class="aside d-flex">
        <a href="/" class="logo">
            <img src="images/logo.svg" alt="digital control">
        </a>
        <nav class="nav d-flex">
            <a class="nav-a active" href="02_Grafik_rabot_pravka.html">
                <i class="icon-home"></i>
                <span>
                    Главная
                </span>
            </a>
            <a class="nav-a" href="08_Spisok_uch.html">
                <i class="icon-account-group"></i>
                <span>
                    Список учащихся
                </span>
            </a>
            <a class="nav-a" href="12_Kolichestvo_mest.html">
                <i class="icon-clipboard"></i>
                <span>
                    Количество мест
                </span>
            </a>
            <a class="nav-a" href="14_Tabelirovanie_st_1.html">
                <i class="icon-new-window"></i>
                <span>
                    Табелирование
                </span>
            </a>

        </nav>
    </aside>
    <section class="section">
        <div class="mobile align-items-center">
            <div class="btn-mob">
                <span></span>
            </div>
            <a href="/" class="logo">
                <img src="images/logo.svg" alt="digital control">
            </a>
        </div>
        <div class="container_ section__head">
            <div class="d-flex align-items-center justify-content-between">
                <div class="section__head-h1">
                    Главная
                </div>
                <div class="d-flex justify-content-end ">
                    <!--                    <a href="04_Grafik_rabot_dobavit.html" class="btn btn-pur">-->
                    <a ng-click="add()" href="javascript:void(0);" class="btn btn-pur">
                        <i class="icon-add"></i>
                        Добавить график обучения
                    </a>
                </div>
            </div>
        </div>
        <div class="section__block table container_">
            <div class="container_ table-tabs">
                <div class="d-flex">
                    <a href="01_Grafik_rabot_pravka.html" class="col-6 active table-tabs-a">
                        График обучения
                    </a>
                    <a href="10_Programma_obucheniya_redactirovat.html" class="col-6 table-tabs-a">
                        Программы обучения
                    </a>
                </div>
            </div>
            <div class="container_ table-tab">
                <div class="table-head">
                    <div class="d-flex">
                        <div class="colo">
                            Дни
                        </div>
                        <div class="colo">
                            Время
                        </div>
                        <div class="colo">
                            Программа обучения
                        </div>
                        <div class="colo">
                            Действие
                        </div>
                    </div>
                </div>

                <div class="table-body" ng-if="graphics" ng-repeat="item in graphics track by item.id">
                    <div class="d-flex"
                        ng-class="{'d-flex':true,show: item.id === changingId, hide: item.id !== changingId}">
                        <div class="colo" data-text="Дни">
                            <select id="dayId" ng-model="item.dayId" ng-change="check(item, $event)">
                                <option value="1">Понедельник</option>
                                <option value="2">Вторник</option>
                                <option value="3">Среда</option>
                                <option value="4">Четверг</option>
                                <option value="5">Пятница</option>
                            </select>
                        </div>
                        <div class="colo edit" data-text="Время">
                            <select id="timeStartId" ng-model="item.timeStartId">
                                <option value="1">09:00</option>
                                <option value="2">10:00</option>
                                <option value="3">11:00</option>
                                <option value="4">12:00</option>
                                <option value="5">13:00</option>
                                <option value="6">14:00</option>
                                <option value="7">15:00</option>
                                <option value="8">16:00</option>
                                <option value="9">17:00</option>
                                <option value="10">18:00</option>
                                <option value="11">19:00</option>
                            </select>
                            <span class="or">-</span>
                            <select id="timeEndId" ng-model="item.timeEndId">
                                <option value="1">09:00</option>
                                <option value="2">10:00</option>
                                <option value="3">11:00</option>
                                <option value="4">12:00</option>
                                <option value="5">13:00</option>
                                <option value="6">14:00</option>
                                <option value="7">15:00</option>
                                <option value="8">16:00</option>
                                <option value="9">17:00</option>
                                <option value="10">18:00</option>
                                <option value="11">19:00</option>
                            </select>

                        </div>
                        <div class="colo" ng-if="changingId !== -1" data-text="Программа обучения">
                            {{getEducProg(item.educProgId)}}

                        </div>
                        <div class="colo" ng-if="changingId === -1" data-text="Программа обучения">
                            <select id="specId2" ng-model="item.educProgId" >
                                <option ng-repeat="spec in educProgs" value="{{spec.id}}">{{getSpec(spec.specId)}}-{{spec.theme}}</option>
                            </select>

                        </div>
                        <div class="colo">
                            <a href="javascript:void(0);" class="btn btn-check" ng-click="save(item)">
                                <i class="icon-tick"></i>
                            </a>

                        </div>
                    </div>
                    <div class="d-flex"
                        ng-class="{'d-flex':true,show: item.id !== changingId, hide: item.id === changingId}">
                        <div class="colo" data-text="Дни">
                            {{getDay(item.dayId)}}
                        </div>
                        <div class="colo" data-text="Время">
                            {{getTime(item.timeStartId)}} - {{getTime(item.timeEndId)}}
                        </div>
                        <div class="colo" data-text="Программа обучения">
                            {{getEducProg(item.educProgId)}}
                        </div>
                        <div class="colo">
                            <a href="javascript:void(0);" class="icon-edit" ng-click="edit(item.id)"></a>
                            <a href="javascript:void(0);" class="icon-trash" ng-click="remove(item.id)"></a>
                        </div>
                    </div>

                </div>

            </div>



        </div>
    </section>
</body>
<script>
    var app = angular.module("graphic-rabot", []);
    app.controller("graphic-crud", function ($scope, $http, $location, $window, $timeout) {
        $scope.changingId = -1;
        $scope.graphics = [];
        $scope.userId = $window.sessionStorage.userId;
        $scope.educProgs = [];
        $scope.specs = [];

        $scope.fetchData = function () {
            if(!$scope.userId){
                alert("You aren't log on! Please log in first");
                $window.location.href = "login.html";
            }
            $http.get('./functions/graphic-rabot/graphic-rabot-get.php?userId=' + $scope.userId).then(function (data) {
                console.log(data);
                $scope.changingId = -1;
                if (data.data && angular.isArray(data.data)) {
                    $scope.graphics = data.data;
                }
            });
        };
        $scope.fetchData();

        $scope.getEducationProgram = function(){
            $http.get('./functions/education-program/education-program-get.php?userId=' + $scope.userId).then(function (data) {
                console.log('educProgs:', data);
                $scope.changingId = -1;
                if (data.data && angular.isArray(data.data)) {
                    $scope.educProgs = data.data;
                }else{
                    console.error('educProgs array null!');
                }
            });
        }
        $scope.getEducationProgram();

        $scope.getUserSpec = function(){
            $http.get('./functions/user-spec/user-spec-list-get.php?userId=' + $scope.userId).then(function (data) {
                console.log(data);
                $scope.changingId = -1;
                if (data.data && angular.isArray(data.data)) {
                    $scope.specs = data.data;
                }else{
                    console.error('userSpec array null!');
                }
            });
        }
        $scope.getUserSpec();

        $scope.add = function () {
            $scope.changingId = -1;
			$scope.initPluginSelect();
            $scope.graphics.push({ id: -1, userId: $scope.userId, dayId: 1, timeStartId: 1, timeEndId:1, educProgId: 1 });
        }
		
		$scope.initPluginSelect = function(){
            $timeout(function () {
                $('select').styler();
            }, 50);
		}
		
        $scope.edit = function (id) {
            $scope.changingId = id;
			$scope.initPluginSelect();
        }

        $scope.remove = function (id) {
            $http({
                method: "POST",
                url: "functions/graphic-rabot/graphic-rabot-del.php",
                data: {id:id}
            }).then(function (data) {
                console.log(data);
				$scope.graphics = [];
                $scope.fetchData();
            });
        }

        $scope.check = function (item, event) {
            console.log('check', item, event);
        }

        $scope.save = function (item) {
            $scope.changingId = -2;
            console.log('before item: ', item);

            $http({
                method: "POST",
                url: "functions/graphic-rabot/graphic-rabot-post.php",
                data: item
            }).then(function (data) {
                console.log(data);
                $scope.fetchData();
            });
        }
        $scope.getDay = function (id) {
            var arr = [{ name: "Понедельник", id: 1 }, { name: "Вторник", id: 2 }, { name: "Среда", id: 3 }, { name: "Четверг", id: 4 }, { name: "Пятница", id: 5 }];
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].id == id) {
                    return arr[i].name;
                }
            }
        }

        $scope.getTime = function (id) {
            var arr = [
                { name: "09:00", id: 1 },
                { name: "10:00", id: 2 }, { name: "11:00", id: 3 }, { name: "12:00", id: 4 }, { name: "13:00", id: 5 }, { name: "14:00", id: 6 },
                { name: "15:00", id: 7 }, { name: "16:00", id: 8 }, { name: "17:00", id: 9 }, { name: "18:00", id: 10 }, { name: "19:00", id: 11 }
            ];
            for (var i = 0; i < arr.length; i++) {
                if (arr[i].id == id) {
                    return arr[i].name;
                }
            }
        }

        $scope.getSpec = function (id) {
            for (var i = 0; i < $scope.specs.length; i++) {
                if ($scope.specs[i].id === id) {
                    return $scope.specs[i].title;
                }
            }
        }

        $scope.getEducProg = function (id) {
            for (var i = 0; i < $scope.educProgs.length; i++) {
                if ($scope.educProgs[i].id === id) {
                    const str = $scope.getSpec($scope.educProgs[i].specId) + '-' + $scope.educProgs[i].theme;
                    return str;
                }
            }
        }
    });

    // app.directive('custom-selected', ['$parse', function ($parse) {
    //     return {
    //         restrict: 'A',
    //         link: function (scope, element, attrs, ngModelCtrl) {
    //             scope.updateModel = function (item) {
    //                 ngModelCtrl.$setViewValue(item);
    //             }
    //         }
    //     };
    // }]);
</script>
<style>
    .show {
        display: flex !important;
    }

    .hide {
        display: none !important;
    }
</style>

</html>
