<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no" />
	<title>index</title>
	<meta name="description" content="">
	<meta name="Keywords" content="">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="fonts/icomoon/style.css">
	<link rel="stylesheet" href="fonts/font.css">
</head>

    
    
    
<body class="body" ng-app="info-participant" ng-controller="participant">
<script src="js/libs/jquery-3.2.1.min.js"></script>
<script src="js/libs/jquery.formstyler.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
<script src="//code.jivosite.com/widget.js" data-jv-id="DOrySdjuIy" async></script><script src="js/common.js"></script>
    <aside class="aside d-flex">
        <a href="/" class="logo">
            <img src="images/logo.svg" alt="digital control">
        </a>
        <nav class="nav d-flex">
            <a class="nav-a" href="02_Grafik_rabot_pravka.html">
                <i class="icon-home"></i>
                <span>
                    Главная
                </span>
            </a>
            <a class="nav-a active" href="08_Spisok_uch.html">
                <i class="icon-account-group"></i>
                <span>
                    Список учащихся
                </span>
            </a>
            <a class="nav-a" href="12_Kolichestvo_mest.html">
                <i class="icon-clipboard"></i>
                <span>
                    Количество мест
                </span>
            </a>
            <a class="nav-a" href="14_Tabelirovanie_st_1.html">
                <i class="icon-new-window"></i>
                <span>
                    Табелирование
                </span>
            </a>
            
        </nav>
    </aside>
    
    <section class="section user" ng-if="participant.id !== -1">
            
        <div class="mobile align-items-center">
            <div class="btn-mob">
                <span></span>
            </div>
            <a href="/" class="logo">
                <img src="images/logo.svg" alt="digital control">
            </a>
        </div>
        <div class="container section__head">
            <a href="08_Spisok_uch.html" class="back">
                <i class="icon-arrow-left"></i>
                Назад
            </a>
            <div class="row align-items-center justify-content-between">
                <div class="section__head-h1 col">
                    {{participant.surname + ' ' + participant.name + ' ' + participant.lastname}}
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="05_Dobavit_uch_st_1.html?id={{participant.id}}" class="btn btn-pur">
                        <i class="icon-add"></i>
                        Редактировать
                    </a>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="user__block">
                <div class="user__block-head">
                    <i class="icon-rating"></i>
                    Успеваемость
                </div>
                <div class="user__block-body">
                    <div class="user__lesson-number">
                        Количество занятий: {{participant.absent+participant.attend}}
                    </div>
                    
                    <div class="user__lesson-line d-flex">
                        <div class="user__lesson-line-div user__lesson-line-green" ng-style="attendStyle">
                            {{getAttendPerc()}}
                        </div>
                        <div class="user__lesson-line-div">
                            {{getAbsentPerc()}}
                        </div>
                    </div>
                    <div class="user__lesson-info d-flex">
                        <div class="d-flex">
                            <div class="user__lesson-line">
                                <div class="user__lesson-line-div user__lesson-line-green">&nbsp;</div>
                            </div>
                            Посещенные занятия
                        </div>
                        <div class="d-flex">
                            <div class="user__lesson-line">
                                <div class="user__lesson-line-div">&nbsp;</div>
                            </div>
                            Пропущенные занятия
                        </div>
                        
                    </div>
                    
                    
                    
                    
                </div>
                
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-sm-12 col-md-6">
                    <div class="user__block">
                        <div class="user__block-head">
                            <i class="icon-account"></i>
                            Личные данные
                        </div>
                        <div class="user__block-body">
                            <div class="user__info">
                                ИИН: {{participant.idn}}
                            </div>
                            <div class="user__info">
                                Дата регистрации: {{participant.created}}
                            </div>
                            <div class="user__info">
                                Район: {{getRegion(participant.regionId)}}
                            </div>
                            <div class="user__info">
                                Телефон: {{participant.phone}}
                            </div>
                            <div class="user__info">
                                Эл. почта: {{participant.email}}
                            </div>                            
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="user__block">
                        <div class="user__block-head">
                            <i class="icon-briefcase"></i>
                            Профессиональные данные
                        </div>
                        <div class="user__block-body">
                            <div class="user__info" ng-if="educProgs">
                                Программное обучение: {{getEducProg(participant.qualId)}}
                            </div>
                            <div class="user__info">
                                Высшее образование: {{getEduc(participant.educId)}}
                            </div>
                            <div class="user__info">
                                Навыки: <span ng-repeat="item in participant.skillArr">{{getSkillById(item)}}<span ng-if="$index != participant.skillArr.length-1">, </span></span>
                            </div>                           
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>
<script>
    var app = angular.module("info-participant", []);
    app.controller("participant", function ($scope, $http, $location, $window, $timeout,$filter) {
        $scope.step = 1;
        $scope.participant = {
            id: -1,
            userId: '-1',
            surname: '',
            name: '',
            lastname: '',
            idn: '',
            regionId: 1,
            phone: '',
            email: '',
            educProgId: 1,
            qualId: 1,
            educId: 1,
            skillArr: [],
            skills: '',
            attend: 0,
            absent: 0,
            created: ''
        };
        $scope.specs = [];
        $scope.quals = ["1","2"];
        $scope.educs = ["Имеется","Не имеется"];
        $scope.regions = ["Алмалинский","Алатауский","Медеуский","Бостандыкский","Ауезовский","Жетисуский","Турксибсий","Наурызбайский","Алатауский","Алматинский"];
        $scope.attendStyle = {'min-width': '50%'};
        $scope.userId = $window.sessionStorage.userId;

        $scope.init = function () {
            var param = $window.location.search;
            if(param.length > 0){
                $scope.participant.id = param.split('=')[1];
                $http.get('./functions/participant/participant-one-get.php?id=' + $scope.participant.id).then(function (data) {
                    console.log(data);
                    if (data.data && angular.isArray(data.data)) {
                        $scope.participant = data.data[0];
                        $scope.participant.skillArr = $scope.participant.skills.split(',');
                        $scope.calcStyle();
                    }
                });
            }
        }
        $scope.init();

        $scope.getUserSpec = function(){
            $http.get('./functions/user-spec/user-spec-list-get.php?userId=' + $scope.userId).then(function (data) {
                console.log(data);
                $scope.changingId = -1;
                if (data.data && angular.isArray(data.data)) {
                    $scope.specs = data.data;
                }else{
                    console.error('userSpec array null!');
                }
            });
        }
        $scope.getUserSpec();

        $scope.getEducationProgram = function(){
            $http.get('./functions/education-program/education-program-get.php?userId=' + $scope.userId).then(function (data) {
                console.log(data);
                $scope.changingId = -1;
                if (data.data && angular.isArray(data.data)) {
                    $scope.educProgs = data.data;
                }else{
                    console.error('educProgs array null!');
                }
            });
        }
        $scope.getEducationProgram();

        $scope.calcStyle = function(){
            $scope.participant.attend = parseInt($scope.participant.attend);
            $scope.participant.absent = parseInt($scope.participant.absent);
            $scope.attendStyle['min-width'] = $scope.getAttendPerc() + '%';
        }

        $scope.getAttendPerc = function(){
            var all = $scope.participant.absent + $scope.participant.attend;
            if(all == 0){
                return 50;
            }
            return ($scope.participant.attend/all)*100;
        }

        $scope.getAbsentPerc = function(){
            var all = $scope.participant.attend + $scope.participant.absent;
            if(all == 0){
                return 50;
            }return ($scope.participant.absent/all)*100;
        }

        $scope.getSpec = function (id) {
            for (var i = 0; i < $scope.specs.length; i++) {
                if ($scope.specs[i].id == id) {
                    return $scope.specs[i].title;
                }
            }
        }

        $scope.getRegion = function(item){
            return $scope.regions[item-1];
        }

        $scope.getQual = function(item){
            return $scope.quals[item - 1];
        }

        $scope.getEduc = function(item){
            return $scope.educs[item - 1];
        }

        $scope.getSkillById = function(item){
            var skills = {"1":"Аналитик","2":"Переговоры","3":"Пользователь ПК","4":"Тайм-менеджмент"};
            return skills[item+""];
        }


        $scope.getSpec = function (id) {
            for (var i = 0; i < $scope.specs.length; i++) {
                if ($scope.specs[i].id == id) {
                    return $scope.specs[i].title;
                }
            }
        }

        $scope.getEducProg = function (id) {
            console.log('id:', id);
            console.log('id:', id);
            for (var i = 0; i < $scope.educProgs.length; i++) {
                if ($scope.educProgs[i].id == id) {
                    const str = $scope.getSpec($scope.educProgs[i].specId) + '-' + $scope.educProgs[i].theme;
                    console.log('str: ', str);
                    return str;
                }
            }
        }
    });
</script>
</html>
